*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color: #2E2E2E;

}

.image-backdrop {
  position: relative;
}

.image-backdrop img {
  width: 100%;
  height: 100%;
}

.image-backdrop .overlay {
  position: absolute;
   bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
  color: white;
  padding: 20px;
}

.image-backdrop .title {
  margin: 0;
  font-size: 24px;
}

.image-backdrop .description {
  margin: 0;
  font-size: 16px;
}
.banner-text
{
  position: absolute;
    bottom: 47px;
    left: 100px;
}

.category-item {
  cursor: pointer;
}

.category-item.active {
  font-weight: bold;
  border-bottom: 2px solid black;
  padding-bottom: 16px;
}

.btn svg {
  margin-left: 8px;
}




.no-border-radius {
  border-radius: 0;
}